* {
	padding: 0;
	margin: 0;
	font-family: 'Work Sans', sans-serif;
	background-color: #fec016;
}

body {
	height: 100vh;
	padding: 60px 90px 30px;
}

.cta {
	display: flex;
	justify-content: center;
}

.cta h1 {
	font-size: 40px;
	font-weight: 800;
	margin-bottom: 20px;
}

.offers {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}

.offer {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	margin: 3px 12px;
}

.offer p {
	font-size: 20px;
	text-align: center;
	text-transform: uppercase;
	max-width: 400px;
}

.offer a img {
	max-width: 400px;
	margin: 10px 0 10px;
}
